<%- include('../partials/header') %>

    <form id="new-form" action="/parks" method="POST">
      
        <label>Park name:</label>
        <input class="new-park-input" type="string" name="parkName">  
        <label>Park code:</label>
        <input class="new-park-input" type="string" name="parkCode">
        <label>Park image:</label>
        <input class="new-park-input" type="string" name="parkImage">
        <input type="submit" value="Add Park">
    </form>

<%- include('../partials/footer') %>