<%- include('../partials/header') %>

    <section id="show-page">
        <div>Park: </div>

    </section>

    <form id="redirect-to-new-park" action= '/parks/<%= park._id %>/parks/new' method="GET">
        <button type="submit">Add Park</button>
    </form>
                <%- include('../partials/footer') %>